@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Libre Franklin";
    margin: auto;
    height: 100%;
}
.nav-menu-item{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.nav-menu{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.cart-count{
    color: white;
    background-color: #8696a0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.count-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: flex-end;
}
nav{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero h2{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.hero h1{
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.shop-btn{
    background-color: #8696a0;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    background-image: url('./img/hero.webp');
    height: 600px;
    width: 100%;
}

.hero-container{
    width: 1500px;
    padding-top: 160px;
    margin: auto;
}

.section-img{
    display: block;
    width: 614px;
}

.section-subtitle{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.section-title{
    font-size: 38px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 14px;
}

.section-text{
    color: #797b7e;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 33px;
}

.section-container{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.product-title{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.product-price{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.add-to-cart{
    border-radius: 50%;
    border: none;
    background-color: #8696a0;
    width: 50px;
    height: 50px;
}

.products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: auto;
    margin-top: 60px;
}

.title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0;
    text-align: center;
}

footer{
    background-color: #cdd1d4;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 120px;
}

footer img{
    display: block;
    margin: auto;
}

footer p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

footer a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    text-align: center;
}

.cart-items {
    width: 1000px;
    margin: auto;
    margin-top: 60px;
}

.total-block {
    width: 1180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 120px;
}

#clear-cart {
    font-size: 16px;
    font-weight: 400;
    background-color: #8696a0;
    color: white;
    border: none;
    padding: 10px 20px;
    transform: scale(1);
    transition: transform 0.2s linear;
}

main p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}